{% extends "base.html" %}
{% block content %}
<!--This is a test-->
<h1 class="text-5xl font-bold">About Us</h1>
{% if request.MOBILE %}
<img src="https://raw.githubusercontent.com/BouncyBird/hhoster/main/2021-05-08%20(13).png" alt="About Us"
    data-aos="zoom-in" style="width: 100%;object-fit: contain;">
{% else %}
<img src="https://raw.githubusercontent.com/BouncyBird/hhoster/main/2021-05-08%20(13).png" alt="About Us"
    data-aos="zoom-in">
{% endif %}
<p class="pt-3">All vectors from <a href="https://www.freepik.com">FreePik</a></p>
{% endblock content %}