{% extends "base.html" %}
{% block content %}
<h1 class="text-5xl font-bold pb-3">Anger Management</h1>
<hr>
<h3 class="text-3xl pt-2 pb-3">Things to try:</h3>
<ul class="list-disc pb-2 pl-4">
    <li>When you are in a situation when you are angry at someplace, try to think of your favorite place and think of
        how
        similar they are.</li>
    <li>When you are angry at something keep reminding yourself that this can’t do anything to you and you are being
        unreasonably angry at the item. You might feel like the world is against you when simple items cause so much
        trouble, but you have to differentiate when things are worth getting angry about.</li>
    <li>When you are angry at someone, just try to think of ways to justify their actions as they might just be angry at
        you. Put yourself in their position and if that doesn’t work, do the breathing exercises below.</li>
    <li>When you are angry at an action someone made, ask the person who did it why they did, and communicate how you
        feel
        about their action. They might have reasoning like yours.</li>
    <li>When you are angry over a game whether online or in-person, It is not worth breaking things. Just recall
        yourself.
        Maybe take some time off that game and play another. Go for a walk and get off your screen. Drink water to
        refresh
        your mind. All of these ways can help you overcome your anger to the game whether it was being paired with bad
        players, having bad gaming equipment, or simply making a mistake, try out all of these then come back and try
        again.
    </li>
</ul>
<hr>
<h3 class="text-3xl pt-2 pb-3">Meditation:</h3>
<ul class="list-disc pb-2 pl-4">
    <li>Take a deep breath in</li>
    <li>Hold it for as long as you can</li>
    <li>Now try to exhale as slowly as you can.</li>
    <li>Slowing down the air flow to your brain will help collect you and make you feel relaxed, yet focused as well.
    </li>
    <li>This may feel simple but repeating it several times can prove beneficial.</li>
</ul>
{% endblock content %}