{% extends "base.html" %}
{% block content %}
<h1 class="text-5xl font-bold pb-3">Depression</h1>
<hr>
<h3 class="text-3xl pt-2 pb-3">Things to try:</h3>
<ul class="list-disc pb-2 pl-4">
    <li>Get in a routine. Planning out your day will let you get more done, instead of sorrowing over any pain that you
        may
        have.</li>
    <li>Try new things, like finding a new way to get to work.</li>
    <li>Try rearranging furniture. New design can lead to a new you.</li>
    <li>Express yourself with writing. Whether it is online or in a notebook, keep a diary and note how you feel.</li>
    <li>Keep a list of pros and strengths in your life to help show you what an amazing person you are. When you feel
        depressed, you may think that everything is terrible, and may think it's your or someone you know’s fault. Show
        yourself how amazing you are.</li>
    <li>Stay connected with friends and family as socializing is one of the best ways to release endorphins and
        dopamine,
        making you feel relaxed.</li>
</ul>
<hr>
<h3 class="text-3xl pt-2 pb-3">Meditation:</h3>
<ul class="list-disc pb-2 pl-4">
    <li>lie down. </li>
    <li>take deep slow breaths</li>
    <li>concentrate on the air coming in and out of your lungs as you close your eyes</li>
</ul>
{% endblock content %}