{% extends "base.html" %}
{% block content %}
<!--{% if request.MOBILE %}
<img src="https://raw.githubusercontent.com/BouncyBird/hhoster/main/oie_oie_overlay%20(1).gif" data-aos='fade-up'
        class="lb" style="width: 100%;object-fit: contain;">
{% else %}
<div>
        <a href="{{ url_for('disease_check') }}
            "><button type="button" class="btn btn-info btn-lg m-1 lb7" data-tilt data-tilt-scale="1.05"
                        data-aos="zoom-in">DiseaseCheck</button></a>
        <div class="dropdown">
                <button type="button" class="btn btn-info btn-lg m-1 lb5 dropdown-toggle" id="dropdownMenuButton"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-tilt
                        data-tilt-scale="1.05" data-aos="zoom-in">Mental Health</button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="{{ url_for('anxiety') }}">Anxiety</a>
                        <a class="dropdown-item" href="{{ url_for('asmr') }}">ASMR</a>
                </div>
        </div>
        <a href="{{ url_for('routines') }}
    "><button type="button" class="btn btn-info btn-lg m-1 lb6" data-tilt data-tilt-scale="1.05"
                        data-aos="zoom-in">Routines</button></a>
        <div class="dropdown">
                <button type="button" class="btn btn-info btn-md m-1 lb2 dropdown-toggle" id="dropdownMenuButton"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-tilt
                        data-tilt-scale="1.05" data-aos="zoom-in">WeightTools</button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="{{ url_for('bmi') }}">BMI Calculator</a>
                        <a class="dropdown-item" href="{{ url_for('idealweight') }}">Ideal Weight Calculator</a>
                </div>
        </div>
        <a href="{{ url_for('contact') }}"><button type="button" class="btn btn-info btn-md m-1 lb3" data-tilt
                        data-tilt-scale="1.05" data-aos="zoom-in">Contact
                        Us</button></a>
        <div class="dropdown">
                <button type="button" class="btn btn-info btn-md m-1 lb4 dropdown-toggle" id="dropdownMenuButton"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-tilt
                        data-tilt-scale="1.05" data-aos="zoom-in">FoodTools</button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="{{ url_for('nutrisearch') }}">NutriSearch</a>
                        <a class="dropdown-item" href="{{ url_for('recisearch') }}">ReciSearch</a>
                </div>
        </div>
</div>
<img src="https://raw.githubusercontent.com/BouncyBird/hhoster/main/oie_oie_overlay%20(1).gif" class="lb"
        data-aos='fade-up'>
{% endif %}-->

<img src="{{ url_for('static', filename='nnnn.png') }}" alt="CyberCare Image"
        style="position: fixed;top: 50%;left: 50%;transform: translate(-50%, -50%);">


<!--<a href="{{ url_for('disease_check') }}">
        <div class="font-bold text-gray-700 rounded-full bg-white flex flex-col items-center justify-center font-mono"
                style="height: 250px; width: 250px; font-size: 28px; position: fixed; top: 160%; left: 102%;" data-tilt
                data-tilt-scale="1.1" data-aos='fade-left'>
                DiseaseCheck<br>
                <img src="{{ url_for('static', filename='dcp.png') }}" alt="DiseaseCheck" style="object-fit: contain;"
                        height="40%" width="40%">
        </div>
</a>
<a href="{{ url_for('routines') }}">
        <div class="font-bold text-gray-700 rounded-full bg-white flex flex-col items-center justify-center font-mono"
                style="height: 250px; width: 250px; font-size: 28px; position: fixed; top: 775%; left: 118%;" data-tilt
                data-tilt-scale="1.1" data-aos='fade-left'>
                Routines<br>
                <img src="{{ url_for('static', filename='rbg.jpg') }}" alt="Routines" style="object-fit: contain;"
                        height="60%" width="60%">
        </div>
</a>
<div class="col-md-2 col-lg-2 top-bar-margin-top" style="position: fixed; top:775%; left: 85%;">
        <div class="dropdown">
                <a id="dLabel" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        <div class="font-bold text-gray-700 rounded-full bg-white flex flex-col items-center justify-center font-mono"
                                style="height: 250px; width: 250px; font-size: 28px;" data-tilt data-tilt-scale="1.1"
                                data-aos='fade-left'>
                                Mental Health<br>
                                <img src="{{ url_for('static', filename='brain.png') }}" alt="Mental Health"
                                        style="object-fit: contain;" height="60%" width="60%">
                        </div>
                </a>
                <ul class="dropdown-menu" aria-labelledby="dLabel">
                        <li class="pl-3 pr-3 text-indigo-500"><a href="{{ url_for('anxiety') }}">Anxiety</a></li>
                        <div class="dropdown-divider"></div>
                        <li class="pl-3 pr-3 text-indigo-500"><a href="{{ url_for('asmr') }}">ASMR</a></li>
                        <div class="dropdown-divider"></div>
                        <li class="pl-3 pr-3 text-indigo-500"><a href="{{ url_for('depression') }}">Depression</a></li>
                        <div class="dropdown-divider"></div>
                        <li class="pl-3 pr-3 text-indigo-500"><a href="{{ url_for('anger') }}">Anger Management</a></li>
                </ul>
        </div>
</div>
<a href="{{ url_for('contact') }}">
        <div class="font-bold text-gray-700 rounded-full bg-white flex flex-col items-center justify-center font-mono"
                style="height: 23%; width: 13%; font-size: 28px; position: fixed; top: 700px; right: 427px;" data-tilt
                data-tilt-scale="1.1" data-aos='fade-left'>
                Contact Us<br>
                <img src="{{ url_for('static', filename='contact.jpg') }}" alt="Contact" style="object-fit: contain;"
                        height="60%" width="60%">
        </div>
</a>-->
{% endblock content %}
{% block stylesheet %}
<style>
        body {
                background-image: url('static/nbgg.jpg');
                background-repeat: no-repeat;
                background-attachment: fixed;
                background-size: cover;
        }

        .ssimg {
                display: block;
                width: 100%;
                height: 100%;
        }

        .feedback {
                background-color: #31B0D5;
                color: white;
                padding: 10px 20px;
                border-radius: 4px;
                border-color: #46b8da;
        }

        #mybutton {
                position: fixed;
                bottom: -4px;
                right: 10px;
        }
</style>
{% endblock stylesheet %}