{% extends "base.html" %}
{% block content %}
<div class="content-section">
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">
                <h1 class="text-5xl font-bold pb-2 pt-2">Ideal Weight Calculator</h1>
            </legend>
            <div class="form-group">
                {{ form.gender.label(class="form-control-label font-bold") }}
                {% if form.gender.errors %}
                {{ form.gender(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.gender.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.gender(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.height.label(class="form-control-label font-bold") }}
                {% if form.height.errors %}
                {{ form.height(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.height.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.height(class="form-control form-control-lg") }}
                {% endif %}
            </div>
        </fieldset>
        {% if res != '' %}
        <p>Your Ideal Weight is {{ res["Devine"] }}</p>
        <a href="#" class="text-indigo-500" data-toggle="modal" data-target="#exampleModal">More Info</a>
        {% endif %}
        <div class="form-group pt-3">
            {{ form.submit(class="btn btn-outline-info") }}
        </div>
    </form>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">More Info on your Ideal Weight</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Hamwi: {{ res["Hamwi"] }}<br>
                Devine: {{ res["Devine"] }}<br>
                Miller: {{ res["Miller"] }}<br>
                Robinson: {{ res["Robinson"] }}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
{% endblock content %}